.container {
  display: flex;
  flex: row wrap;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.inputfield {
  height: 4rem;
  width: 28rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.card {
  width: 30rem;
}
.cardBody {
  background-color: rgb(227, 243, 225);
}
